# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# local configs and helpers
deploy/*.local.sh

# misc
Thumbs.db
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
